<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zipdabackend.domain.property.mapper.PropertySearchMapper">
    <select id="searchPagination" resultType="com.zipdabackend.domain.property.response.PropertySummaryResponse">
        SELECT
            p.property_id AS propertyId,

            pi.image_url AS thumbnailUrl,

            p.property_type AS propertyType,
            p.transaction_type AS transactionType,

            p.price AS price,
            p.deposit AS deposit,
            p.monthly_rent AS monthlyRent,

            p.area_m2 AS areaM2,
            p.floor AS floor,
            p.maintenance_fee AS maintenanceFee,

            CONCAT(r.province, ' ', r.city, ' ', r.district) AS regionName

        FROM property p
            LEFT JOIN region r
                ON p.region_id = r.region_id

            LEFT JOIN property_image pi
                ON p.property_id = pi.property_id
                AND pi.is_thumbnail = 1

        WHERE
            p.deleted_at IS NULL
        ORDER BY
            p.property_id DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="searchTotal">
        SELECT
            COUNT(*)
        FROM property
        WHERE
            deleted_at IS NULL
    </select>

    
</mapper>